@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

*
{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(101, 129, 129);
}

.navbar{

    display: flex;
    background-color: #1d5c83

}

#container{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: white;
}

.items{
    display: flex;
    list-style: none;
}
.item{
    margin: 5px 15px;
    align-self: center;
}
.logo{
    height: 30px;
}
a{
    text-decoration: none;
    color: white;
}
#colorName{
    height: 70px;
    width: 230px;
    background-color: white;
    justify-self: center;
    align-self: center;
    border-radius: 12px;
    font-size: 44;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder
}
#btn{
     display: flex;
    align-self: center; 
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /* margin: 150px 0px 0px 0px ; */
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: 180px;

}
.btn:hover{
    cursor: pointer;

}