*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(101, 129, 129);
}

.navbar{

    display: flex;
    background-color: rgb(66, 56, 42);

}

.container{
    display: flex;
    justify-content: center;
    height: 80%;
    background-color: blueviolet
}

.items{
    display: flex;
    list-style: none;
}
.item{
    margin: 15px;
}
.logo{
    height: 30px;
}